# Data cleaning with pandas

## Import necessary libraries

In [1]:
import pandas as pd
import numpy as np

## Read data from CSV file

In [2]:
world = pd.read_csv('countries.csv',sep = ';')
world = world.iloc[1:,:]

## First and last five Rows

In [3]:
world.head()

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
1,Afghanistan,647500,47.02,NaN,20.75,8000000000,652200000,540000000,446000000,21500000000,...,0,0,29928987,NaN,NaN,NaN,33100,15000,6.75,NaN
2,Akrotiri,123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,28748,15.08,-504000000,5.12,1410000000,6760000000,5680000000,552400000,17460000000,...,2000,185500000,3563112,NaN,447,1206000000,255000,1100000,2.04,14.80
4,Algeria,2381740,17.13,11900000000,4.60,21900000000,23610000000,25760000000,32160000000,212300000000,...,1200000,11870000000,32531853,37.40,3973,43550000000,2199600,1447310,1.92,25.40
5,American Samoa,199,23.13,NaN,3.33,NaN,120900000,130000000,30000000,500000000,...,0,NaN,57881,NaN,NaN,NaN,15000,2377,3.25,6.00

In [4]:
world.tail()

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
259,West Bank,5860,32.37,NaN,3.99,108000000,NaN,NaN,205000000,1800000000,...,NaN,NaN,2385615,NaN,NaN,NaN,301600,480000,4.40,27.20
260,Western Sahara,266000,NaN,NaN,NaN,NaN,83700000,90000000,NaN,NaN,...,0,NaN,273008,NaN,NaN,NaN,NaN,0,NaN,NaN
261,Yemen,527970,43.07,369900000,8.53,5400000000,2827000000,3040000000,4468000000,16250000000,...,417500,4000000000,20727063,46.40,NaN,5300000000,542200,411100,6.67,35.00
262,Zambia,752614,41.38,-181400000,20.23,5353000000,5345000000,8167000000,1548000000,9409000000,...,0,NaN,11261795,127.50,2173,345000000,88400,241000,5.47,50.00
263,Zimbabwe,390580,29.74,-230300000,24.66,4086000000,11220000000,8839000000,1409000000,24370000000,...,0,NaN,12746990,52.30,3077,57000000,300900,379100,3.54,70.00

## Total number of rows and columns

In [5]:
world.shape

(263, 45)

## checking for null values

In [6]:
world.isnull().head()

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
1,False,False,False,True,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,True
2,False,False,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,True,False,True,False,False,False,False,...,False,True,False,True,True,True,False,False,False,False

## sum of null values for first 5 columns

In [7]:
world.isnull().sum()

Country                                             0
Area(sq km)                                         0
Birth rate(births/1000 population)                 38
Current account balance                           114
Death rate(deaths/1000 population)                 38
Debt - external                                    62
Electricity - consumption(kWh)                     48
Electricity - production(kWh)                      50
Exports                                            39
GDP                                                33
GDP - per capita                                   33
GDP - real growth rate(%)                          51
HIV/AIDS - adult prevalence rate(%)                95
HIV/AIDS - deaths                                 115
HIV/AIDS - people living with HIV/AIDS             99
Highways(km)                                       33
Imports                                            39
Industrial production growth rate(%)               99
Infant mortality rate(deaths/1000 live births)     38
Inflation rate (consumer prices)(%)                41
Internet hosts                                     72
Internet users                                     47
Investment (gross fixed)(% of GDP)                117
Labor force                                        49
Life expectancy at birth(years)                    38
Military expenditures - dollar figure              93
Military expenditures - percent of GDP(%)          98
Natural gas - consumption(cu m)                   155
Natural gas - exports(cu m)                       155
Natural gas - imports(cu m)                       155
Natural gas - production(cu m)                    156
Natural gas - proved reserves(cu m)               166
Oil - consumption(bbl/day)                         51
Oil - exports(bbl/day)                            205
Oil - imports(bbl/day)                            217
Oil - production(bbl/day)                          51
Oil - proved reserves(bbl)                        166
Population                                         25
Public debt(% of GDP)                             155
Railways(km)                                      129
Reserves of foreign exchange & gold               116
Telephones - main lines in use                     31
Telephones - mobile cellular                       35
Total fertility rate(children born/woman)          38
Unemployment rate(%)                               71
dtype: int64

## Total number of null values

In [8]:
world.isnull().sum().sum()

3656

## data cleaning by back-filling the null data

In [9]:
world = world.fillna(method = 'bfill')

## Filling null values by padding

In [10]:
world = world.fillna(method = 'pad')

## checking for null values

In [11]:
world.isnull().sum().sum()

0